<div class="op-iss-photos">
  <h3 class="op-iss-photos__title">Current ISS Position</h3>
  <op-loading *ngIf="loading"></op-loading>
  <ng-container *ngIf="!loading">
    <op-iss-map class="op-iss-photos__map" [issLatitude]="issLatitude" [issLongitude]="issLongitude"></op-iss-map>
    <op-iss-media-list *ngIf="addresses?.length" class="op-iss-photos__media-list" [locationNames]="addresses"></op-iss-media-list>
  </ng-container>
</div>