@import "../../../../styles/variables";

.loading {
  color: $op-color-1;
  -webkit-animation-name: example;
  -webkit-animation-duration: 4s;
  animation-name: loading;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes loading {
  0%   { color: $op-color-1 }
  50%  { color: $op-color-4; }
  100% { color: $op-color-1; }
}

@keyframes loading {
  0%   { color: $op-color-1 }
  50%  { color: $op-color-4; }
  100% { color: $op-color-1; }
}
