$header-height: 55px;
$header-font-size: 16px;
$footer-height: 55px;
$footer-font-size: 12px;
$content-padding: 20px;

$op-color-1: #151965;
$op-color-2: #32407b;
$op-color-3: #515585;
$op-color-4: #46b5d1;
$op-color-5: white;
