<h4 class="op-iss-media-list__title">Photos & Videos</h4>
<op-loading *ngIf="loading"></op-loading>
<div class="op-iss-media-list__content" *ngIf="!loading">
  <op-iss-photo-item class="op-iss-media-list__item" *ngFor="let photo of photos" [photo]="photo"></op-iss-photo-item>
  <op-iss-video-item class="op-iss-media-list__item" *ngFor="let video of videos" [video]="video"></op-iss-video-item>
</div>