@import '../styles/variables';
:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.op-header {
  background: $op-color-1;
  color: $op-color-5;
  font-size: $header-font-size;
  width: 100%;

  &__title {
    cursor: pointer;
    display: inline-block;
    height: $header-height;
    padding: $content-padding;
  }
}

.op-content {
  background-color: $op-color-5;
  flex: 1 0 auto;
  padding: $content-padding;
}

.op-footer {
  background: $op-color-1;
  color: $op-color-5;
  flex-shrink: 0;
  font-size: $footer-font-size;
  height: $footer-height;
  padding: $content-padding;
}