<div class="op-header">
  <div class="op-header__title" (click)="goHome()">{{ title }}</div>
</div>
<div class="op-content">
  <router-outlet></router-outlet>
</div>
<footer class="op-footer">
  {{ email }}
</footer>