<div
  *ngIf="issLatitude !== undefined && issLongitude !== undefined;
    else emptyCoordinates">
  <agm-map
    [latitude]="issLatitude"
    [longitude]="issLongitude"
    [zoom]="zoom"
    [draggable]="false"
    [disableDoubleClickZoom]="true">
    <agm-marker
      [latitude]="issLatitude"
      [longitude]="issLongitude"
      [label]="'ISS'">
      <agm-info-window [disableAutoPan]="true">
        This is the current ISS location
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>
<ng-template #emptyCoordinates>Latitude/Longitude are missing.</ng-template>
