@import './styles/variables';
@import './styles/buttons';
@import './styles/titles';

/* You can add global styles to this file, and also import other style files */
html {
  height: 100%; 
}
body {
  margin: 0; 
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}
